<div class="main">
  <h1 class="title">{{ article.title }}</h1>
  <div *ngFor="let element of article.elements" [id]="element.id">
    <h2 *ngIf="element.type === 'h2'">
      <article-span [spans]="element.spans"></article-span>
    </h2>
    <h3 *ngIf="element.type === 'h3'">
      <article-span [spans]="element.spans"></article-span>
    </h3>
    <h4 *ngIf="element.type === 'h4'">
      <article-span [spans]="element.spans"></article-span>
    </h4>
    <p *ngIf="element.type === 'text'">
      <article-span [spans]="element.spans"></article-span>
    </p>
    <ul [class]="'list-type-'+element.level" *ngIf="element.type === 'list'">
      <li *ngFor="let item of element.list">
        <article-span [spans]="item.spans"></article-span>
      </li>
    </ul>
  </div>
</div>